---
const { images, name, title } = Astro.props;
const classesWithImageBg = images.map(
    (image_url) => "bg-[url(" + image_url + ")]",
);
---

<div>
    <image-slider
        class="flex flex-col justify-center"
        data-images={images}
        data-imageid-prefix={"carousel-" + name}
    >
        <div class="flex flex-row items-center justify-center px-4 h-100">
            {
                images.map((image_url, idx) => (
                    <div
                        id={"carousel-" + name + idx}
                        class={
                            "w-0 h-0 bg-cover bg-center rounded-4xl transition-all duration-350 ease-in-out saturate-0 " +
                            (idx === 0 ? "side-image " : "") +
                            (idx === 1 ? "center-image " : "") +
                            (idx === 2 ? "side-image " : "")
                        }
                        style={`background-image: url('${image_url}')`}
                    />
                ))
            }
        </div>
        <div
            class="flex flex-row items-center text-white justify-center gap-8 pt-2 px-4"
        >
            <div>
                <button
                    id="prev"
                    class="cursor-pointer rotate-180 p-2 rounded-full border"
                >
                    <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        ><path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="3"
                            d="M19 12H5m14 0-4 4m4-4-4-4"></path></svg
                    >
                </button>
            </div>
            <h3 class="text-3xl my-3 text-amber-100 font-serif text-center">
                <span class="px-2 inline-block underline">{title}</span>
            </h3>
            <div>
                <button
                    id="next"
                    class="cursor-pointer rounded-full p-2 border"
                >
                    <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        ><path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="3"
                            d="M19 12H5m14 0-4 4m4-4-4-4"></path></svg
                    >
                </button>
            </div>
        </div>
    </image-slider>
</div>

<script>
    class ImageSlider extends HTMLElement {
        connectedCallback() {
            const imageCount = this.dataset.images.split(",").length;
            const imageidPrefix = this.dataset.imageidPrefix;

            let centerImageIdx = Number.parseInt(
                this.querySelector(".center-image").id.replace(
                    imageidPrefix,
                    "",
                ),
            );

            const removeClasses = (idx) => {
                this.querySelector(`#${imageidPrefix}${idx}`).classList.remove(
                    "center-image",
                );
                let left_side = idx - 1;
                if (left_side >= 0) {
                    this.querySelector(
                        `#${imageidPrefix}${left_side}`,
                    ).classList.remove("side-image");
                } else {
                    // to hide additonal images on right if it is terminal
                    this.querySelector(
                        `#${imageidPrefix}${idx + 2}`,
                    ).classList.remove("side-image");
                }
                let right_side = idx + 1;
                if (right_side < imageCount) {
                    this.querySelector(
                        `#${imageidPrefix}${right_side}`,
                    ).classList.remove("side-image");
                } else {
                    // to hide additonal images on left if it is terminal
                    this.querySelector(
                        `#${imageidPrefix}${idx - 2}`,
                    ).classList.remove("side-image");
                }
            };

            const addClasses = (idx) => {
                this.querySelector(`#${imageidPrefix}${idx}`).classList.add(
                    "center-image",
                );
                let left_side = idx - 1;
                if (left_side >= 0) {
                    this.querySelector(
                        `#${imageidPrefix}${left_side}`,
                    ).classList.add("side-image");
                } else {
                    // to show additonal images on right if it is terminal
                    this.querySelector(
                        `#${imageidPrefix}${idx + 2}`,
                    ).classList.add("side-image");
                }
                let right_side = idx + 1;
                if (right_side < imageCount) {
                    this.querySelector(
                        `#${imageidPrefix}${right_side}`,
                    ).classList.add("side-image");
                } else {
                    // to hide additonal images on left if it is terminal
                    this.querySelector(
                        `#${imageidPrefix}${idx - 2}`,
                    ).classList.add("side-image");
                }
            };

            const prevButton = this.querySelector("#prev");
            prevButton.addEventListener("click", () => {
                removeClasses(centerImageIdx);

                centerImageIdx = (imageCount + centerImageIdx - 1) % imageCount;

                addClasses(centerImageIdx);
            });

            const nextButton = this.querySelector("#next");
            nextButton.addEventListener("click", () => {
                removeClasses(centerImageIdx);

                centerImageIdx = (centerImageIdx + 1) % imageCount;

                addClasses(centerImageIdx);
            });

            console.log(prevButton);
        }
    }

    customElements.define("image-slider", ImageSlider);
</script>
