---
import "../styles/global.css";
const { title } = Astro.props;
const description =
    "Find cabs from trusted and experienced fleets operators of your city. We promise reliable rides, transparent pricing and zero cancellations on every scheduled ride. Book Bangalore airport cabs today on Naviget.";
---

<!doctype html>
<html lang="en" data-theme="dark" class="dark">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>

        <meta name="description" content={description} />
        <meta
            name="keywords"
            content="airport,cab,bangalore,shared,sedan,suv"
        />
        <link rel="canonical" href="https://naviget.in/" />

        <meta property="og:locale" content="en_IN" />
        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://naviget.in/" />
        <meta property="og:description" content={description} />
        <meta property="og:site_name" content="Naviget" />

        <!-- TODO: update og:image -->
        <meta
            property="og:image"
            content="https://naviget.in/wp-content/uploads/2025/01/Features-Mobile-Mockup.png"
        />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:url" content="https://naviget.in/" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:creator" content="@NavigetOfficial" />
        <meta name="twitter:description" content={description} />

        <!-- TODO: update twitter:image -->
        <meta
            name="twitter:image"
            content="https://naviget.in/wp-content/uploads/2025/01/Features-Mobile-Mockup.png"
        />

        <!-- Code and dependencies below this -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap"
            rel="stylesheet"
        />
    </head>
    <body
        class="bg-neutral-primary antialiased bg-linear-to-b from-0% dark:from-brand/8 from-neutral-secondary to-[48rem] to-primary"
    >
        <!-- Navigation -->

        <nav class="inset-s-0 mt-2 md:mt-8 px-4 mx-auto max-w-7xl">
            <div
                class="bg-neutral-secondary-soft border border-default max-w-7xl flex flex-wrap items-center justify-between mx-auto p-4 rounded-2xl"
            >
                <a
                    href="/"
                    class="flex items-center space-x-3 rtl:space-x-reverse"
                >
                    <img
                        src="/images/naviget_full_white.png"
                        class="h-7"
                        alt="Naviget Logo"
                    />
                </a>

                <button
                    data-collapse-toggle="navbar-default"
                    type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
                    aria-controls="navbar-default"
                    aria-expanded="false"
                >
                    <span class="sr-only">Open main menu</span>
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-width="2"
                            d="M5 7h14M5 12h14M5 17h14"></path>
                    </svg>
                </button>
                <div
                    class="hidden w-full md:block md:w-auto"
                    id="navbar-default"
                >
                    <ul
                        class="font-medium flex flex-col p-4 md:p-0 mt-4 rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 items-center"
                    >
                        <li>
                            <a
                                href="/"
                                class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent"
                            >
                                Home
                            </a>
                        </li>
                        <li>
                            <a
                                href="/about"
                                class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent"
                            >
                                About
                            </a>
                        </li>
                        <li>
                            <a
                                href="/contact"
                                class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent"
                            >
                                Contact
                            </a>
                        </li>
                        <li>
                            <a
                                class="relative inline-flex items-center justify-center text-heading rounded-base bg-linear-to-br from-green-400 to-blue-600 p-0.5"
                                href="https://download.naviget.in"
                            >
                                <span
                                    class="relative px-4 py-2.5 bg-neutral-primary-soft rounded-base leading-5"
                                >
                                    Download Now
                                </span>
                            </a>
                        </li>
                        <li class="flex">
                            <a
                                class="mt-4 pr-4 text-heading md:hover:text-fg-brand md:p-0 md:mt-0"
                                href="https://play.google.com/store/apps/details?id=com.ojicabs.oji"
                            >
                                <svg
                                    fill="currentColor"
                                    version="1.1"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px"
                                    height="24px"
                                    viewBox="0 0 512 512"
                                    enable-background="new 0 0 512 512"
                                    xml:space="preserve"
                                >
                                    <g id="b75708d097f2188dff6617b0f00f7c43">
                                        <path
                                            display="inline"
                                            d="M120.606,169h270.788v220.663c0,13.109-10.628,23.737-23.721,23.737h-27.123v67.203 c0,17.066-13.612,30.897-30.415,30.897c-16.846,0-30.438-13.831-30.438-30.897v-67.203h-47.371v67.203 c0,17.066-13.639,30.897-30.441,30.897c-16.799,0-30.437-13.831-30.437-30.897v-67.203h-27.099 c-13.096,0-23.744-10.628-23.744-23.737V169z M67.541,167.199c-16.974,0-30.723,13.963-30.723,31.2v121.937 c0,17.217,13.749,31.204,30.723,31.204c16.977,0,30.723-13.987,30.723-31.204V198.399 C98.264,181.162,84.518,167.199,67.541,167.199z M391.395,146.764H120.606c3.342-38.578,28.367-71.776,64.392-90.998 l-25.746-37.804c-3.472-5.098-2.162-12.054,2.946-15.525c5.102-3.471,12.044-2.151,15.533,2.943l28.061,41.232 c15.558-5.38,32.446-8.469,50.208-8.469c17.783,0,34.672,3.089,50.229,8.476L334.29,5.395c3.446-5.108,10.41-6.428,15.512-2.957 c5.108,3.471,6.418,10.427,2.946,15.525l-25.725,37.804C363.047,74.977,388.055,108.175,391.395,146.764z M213.865,94.345 c0-8.273-6.699-14.983-14.969-14.983c-8.291,0-14.99,6.71-14.99,14.983c0,8.269,6.721,14.976,14.99,14.976 S213.865,102.614,213.865,94.345z M329.992,94.345c0-8.273-6.722-14.983-14.99-14.983c-8.291,0-14.97,6.71-14.97,14.983 c0,8.269,6.679,14.976,14.97,14.976C323.271,109.321,329.992,102.614,329.992,94.345z M444.48,167.156 c-16.956,0-30.744,13.984-30.744,31.222v121.98c0,17.238,13.788,31.226,30.744,31.226c16.978,0,30.701-13.987,30.701-31.226 v-121.98C475.182,181.14,461.458,167.156,444.48,167.156z"
                                        >
                                        </path>
                                    </g>
                                </svg>
                            </a>
                            <a
                                class="mt-4 text-heading md:hover:text-fg-brand md:px-3 md:mt-0"
                                href="https://apps.apple.com/us/app/naviget/id6749488969"
                            >
                                <svg
                                    width="24px"
                                    height="24px"
                                    viewBox="-1.5 0 20 20"
                                    version="1.1"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                >
                                    <g
                                        id="Page-1"
                                        stroke="none"
                                        stroke-width="1"
                                        fill="none"
                                        fill-rule="evenodd"
                                    >
                                        <g
                                            transform="translate(-102.000000, -7439.000000)"
                                            fill="currentColor"
                                        >
                                            <g
                                                id="icons"
                                                transform="translate(56.000000, 160.000000)"
                                            >
                                                <path
                                                    d="M57.5708873,7282.19296 C58.2999598,7281.34797 58.7914012,7280.17098 58.6569121,7279 C57.6062792,7279.04 56.3352055,7279.67099 55.5818643,7280.51498 C54.905374,7281.26397 54.3148354,7282.46095 54.4735932,7283.60894 C55.6455696,7283.69593 56.8418148,7283.03894 57.5708873,7282.19296 M60.1989864,7289.62485 C60.2283111,7292.65181 62.9696641,7293.65879 63,7293.67179 C62.9777537,7293.74279 62.562152,7295.10677 61.5560117,7296.51675 C60.6853718,7297.73474 59.7823735,7298.94772 58.3596204,7298.97372 C56.9621472,7298.99872 56.5121648,7298.17973 54.9134635,7298.17973 C53.3157735,7298.17973 52.8162425,7298.94772 51.4935978,7298.99872 C50.1203933,7299.04772 49.0738052,7297.68074 48.197098,7296.46676 C46.4032359,7293.98379 45.0330649,7289.44985 46.8734421,7286.3899 C47.7875635,7284.87092 49.4206455,7283.90793 51.1942837,7283.88393 C52.5422083,7283.85893 53.8153044,7284.75292 54.6394294,7284.75292 C55.4635543,7284.75292 57.0106846,7283.67793 58.6366882,7283.83593 C59.3172232,7283.86293 61.2283842,7284.09893 62.4549652,7285.8199 C62.355868,7285.8789 60.1747177,7287.09489 60.1989864,7289.62485"
                                                >
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <slot />

        <footer class="inset-s-0 pb-4 px-4 mx-auto max-w-7xl lg:pb-8">
            <div
                class="mx-auto w-full max-w-7xl bg-neutral-secondary-soft px-8 md:px-12 rounded-2xl border border-default"
            >
                <div class="grid grid-cols-2 gap-8 py-6 lg:py-8 md:grid-cols-3">
                    <div>
                        <h2
                            class="mb-6 text-sm font-semibold text-heading uppercase"
                        >
                            Company
                        </h2>
                        <ul class="text-body font-medium">
                            <li class="mb-4">
                                <a href="/about" class="hover:underline">
                                    About
                                </a>
                            </li>
                            <li class="mb-4">
                                <a href="/contact" class="hover:underline">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2
                            class="mb-6 text-sm font-semibold text-heading uppercase"
                        >
                            Legal
                        </h2>
                        <ul class="text-body font-medium">
                            <li class="mb-4">
                                <a
                                    href="/policies/naviget"
                                    class="hover:underline">Privacy Policy</a
                                >
                            </li>
                            <li class="mb-4">
                                <a
                                    href="/policies/meter_raja"
                                    class="hover:underline">Meter Raja</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2
                            class="mb-6 text-sm font-semibold text-heading uppercase"
                        >
                            Download
                        </h2>
                        <ul class="text-body font-medium">
                            <li class="mb-4">
                                <a
                                    href="https://apps.apple.com/us/app/naviget/id6749488969"
                                    class="hover:underline">iOS</a
                                >
                            </li>
                            <li class="mb-4">
                                <a
                                    href="https://play.google.com/store/apps/details?id=com.ojicabs.oji"
                                    class="hover:underline">Android</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="py-6 md:flex md:items-center md:justify-between">
                    <span class="text-sm text-body sm:text-center">
                        © 2026 Naviget. All Rights Reserved.
                    </span>
                    <div
                        class="flex mt-4 sm:justify-center md:mt-0 space-x-2 rtl:space-x-reverse"
                    >
                        <a href="#" class="text-body hover:text-heading">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 50 50"
                                width="50px"
                                height="50px"
                                fill="currentColor"
                            >
                                <path
                                    d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"
                                ></path></svg
                            >
                            <span class="sr-only">Linkedin Page</span>
                        </a>
                        <a
                            href="https://x.com/NavigetOfficial"
                            class="text-body hover:text-heading ms-5"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 30 30"
                                width="50px"
                                height="50px"
                                fill="currentColor"
                                ><path
                                    d="M26.37,26l-8.795-12.822l0.015,0.012L25.52,4h-2.65l-6.46,7.48L11.28,4H4.33l8.211,11.971L12.54,15.97L3.88,26h2.65 l7.182-8.322L19.42,26H26.37z M10.23,6l12.34,18h-2.1L8.12,6H10.23z"
                                ></path></svg
                            >
                            <span class="sr-only">X page</span>
                        </a>
                        <a
                            href="https://www.instagram.com/letsnaviget"
                            class="text-body hover:text-heading ms-5"
                        >
                            <svg
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="50px"
                                height="50px"
                                fill="currentColor"
                                viewBox="0 0 169 169"
                            >
                                <g>
                                    <path
                                        fill-rule="evenodd"
                                        d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752 c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407 c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752	c17.455,0,31.656,14.201,31.656,31.655V122.407z"
                                    ></path>
                                    <path
                                        d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561 C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561 c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z"
                                    ></path>
                                    <path
                                        d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78 c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78 C135.661,29.421,132.821,28.251,129.921,28.251z"
                                    ></path>
                                </g>
                            </svg>
                            <span class="sr-only">Instagram Page</span>
                        </a>

                        <a
                            href="https://www.reddit.com/r/NavigetOfficial/"
                            class="text-body hover:text-heading ms-5"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 30 30"
                                width="50px"
                                height="50px"
                                fill="currentColor"
                                ><path
                                    d="M 17.662109 2 C 15.565005 2 14 3.7131367 14 5.6621094 L 14 9.0351562 C 11.24971 9.1810926 8.7344872 9.9143634 6.7265625 11.064453 C 5.9527826 10.321405 4.9166871 9.991448 3.9121094 9.9921875 C 2.8229214 9.9929893 1.7094525 10.370413 0.94140625 11.234375 L 0.92382812 11.253906 L 0.90625 11.273438 C 0.16947928 12.194228 -0.12225605 13.427747 0.07421875 14.652344 C 0.25365009 15.770711 0.90137168 16.893419 2.0273438 17.628906 C 2.0199689 17.753058 2 17.874618 2 18 C 2 22.962 7.832 27 15 27 C 22.168 27 28 22.962 28 18 C 28 17.874618 27.980031 17.753058 27.972656 17.628906 C 29.098628 16.893419 29.74635 15.770711 29.925781 14.652344 C 30.122256 13.427747 29.830521 12.194228 29.09375 11.273438 L 29.076172 11.253906 L 29.058594 11.234375 C 28.290448 10.370294 27.177168 9.9929893 26.087891 9.9921875 C 25.08323 9.991448 24.046988 10.321133 23.273438 11.064453 C 21.265513 9.9143634 18.75029 9.1810926 16 9.0351562 L 16 5.6621094 C 16 4.6830821 16.565214 4 17.662109 4 C 18.182797 4 18.817104 4.2609042 19.810547 4.609375 C 20.650361 4.9039572 21.743308 5.2016984 23.140625 5.2910156 C 23.474875 6.2790874 24.402814 7 25.5 7 C 26.875 7 28 5.875 28 4.5 C 28 3.125 26.875 2 25.5 2 C 24.561213 2 23.747538 2.5304211 23.320312 3.3007812 C 22.125831 3.2346294 21.248238 2.9947078 20.472656 2.7226562 C 19.568849 2.4056271 18.738422 2 17.662109 2 z M 3.9121094 11.992188 C 4.3072494 11.991896 4.6826692 12.095595 4.9921875 12.263672 C 3.8881963 13.18517 3.0505713 14.261821 2.5449219 15.4375 C 2.2764358 15.106087 2.114647 14.734002 2.0507812 14.335938 C 1.9430146 13.664243 2.1440212 12.966045 2.4628906 12.552734 C 2.7642172 12.228395 3.3144613 11.992626 3.9121094 11.992188 z M 26.085938 11.992188 C 26.683756 11.992627 27.235874 12.22849 27.537109 12.552734 C 27.855979 12.966045 28.056985 13.664243 27.949219 14.335938 C 27.885353 14.734002 27.723564 15.106087 27.455078 15.4375 C 26.949429 14.261821 26.111804 13.18517 25.007812 12.263672 C 25.316626 12.095792 25.690955 11.991896 26.085938 11.992188 z M 10 14 C 11.105 14 12 14.895 12 16 C 12 17.105 11.105 18 10 18 C 8.895 18 8 17.105 8 16 C 8 14.895 8.895 14 10 14 z M 20 14 C 21.105 14 22 14.895 22 16 C 22 17.105 21.105 18 20 18 C 18.895 18 18 17.105 18 16 C 18 14.895 18.895 14 20 14 z M 20.238281 19.533203 C 19.599281 21.400203 17.556 23 15 23 C 12.444 23 10.400719 21.400969 9.7617188 19.667969 C 10.911719 20.600969 12.828 21.267578 15 21.267578 C 17.172 21.267578 19.088281 20.600203 20.238281 19.533203 z"
                                ></path></svg
                            >
                            <span class="sr-only">Reddit Community</span>
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        <script
            is:inline
            src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"
        ></script>
    </body>
</html>
